6-n8n-qdrant/Knowledge.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"urls\": [\"https://elest.io/\",\n\"https://elest.io/pricing\",\n\"https://elest.io/cicd\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -80
      ],
      "id": "14d95728-5ddc-442a-a18f-26acc7b2e5e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        96,
        -80
      ],
      "id": "55228e0e-e24a-47e5-93f6-9be07ca17f33",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -80
      ],
      "id": "2fc92282-8b20-4c60-8cbc-7f2c3417a1a4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        64
      ],
      "id": "58d4543f-623a-4b1c-a6ee-bd23c1b22631",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "test",
              "cssSelector": "h1,h2, p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        64
      ],
      "id": "a935a477-5002-427f-b47d-7844ea290bf0",
      "name": "HTML"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        512,
        -160
      ],
      "id": "dd4873b7-42e8-40df-87ac-476461b417ba",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "elestio_nomic_v1",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        944,
        -160
      ],
      "id": "56cee4b2-2562-4e57-8bfd-920b01d08e88",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "8VZ6jQdNbMbSuylo",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1088,
        -16
      ],
      "id": "7ec6e0b9-93a8-4904-8939-7b4eab1260cf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1040,
        176
      ],
      "id": "f5c3dc4f-face-45bb-a250-710bba97ed4e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "07ce9228-e253-4b80-a735-26fbb9646e31",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        896,
        48
      ],
      "id": "ec4e35a1-bc20-4fd1-af8b-5d5f12c4b3b9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "ggsJMXXOdJ42exEu",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e2dbf3d98c1b93f3a2868967e5da56a695f62e997349a5a9a14bd76d6832778"
  }
}